{{> menu}}
<section class="ui center aligned middle aligned inverted segment">
 
  <h1 class="ui header">
    Welcome {{fullname}} to GamerCube
  </h1>
  
    <img class="ui centered logostart" 
         height="400" 
         width="800" 
         src="https://cdn.glitch.com/84a8e2a2-7472-4fa9-97e2-74b53b4578c8%2FMy%20Drawing%20(6).png?1551743450801">
  
  <p>
  Welcome to GamerCube an interative website to store your favourite games 
</p>
  
  
  <div class ="seriesBorder">
    <h1>
      Website Statitics
    </h1>
    <div class="ui inverted four statistics">
      
         <div class="statistic">
    <div class="value">
      <i class="user  icon"></i> {{totalSignUps}}
    </div>
    <div class="label">
      Sign Ups
    </div>
  </div>
      
        <div class="statistic">
    <div class="value">
     <i class="video  icon"></i> {{totalSeries}}
    </div>
    <div class="label">
      Series
    </div>
  </div>
      
      <div class="statistic">
    <div class="value">
        <i class="gamepad icon"></i>{{totalGames}}
    </div>
    <div class="label">
      Games
    </div>
  </div>
        
        <div class="statistic">
    <div class="value">
     <i class="gamepad icon"></i> {{avgGames}}
    </div>
    <div class="label">
      Average Games
    </div>
  </div>
      
    </div>
</div>
  
</section>